.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.todos_container {
  position: relative;
  margin-top: 8rem;
  width: 100%;
  max-width: 800px;
  background: var(--bg-color-1);
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
}

.add_todo {
  display: flex;
  gap: 10px;
}
.add_todo input {
  flex-grow: 1;
  padding: 10px 1rem;
  font-size: 1.1rem;
}

.add_todo button {
  width: 20%;
  background-color: var(--primary-color);
  color: var(--font-color-secondary);
  font-weight: 600;
}

.todo {
  background-color: var(--bg-color-2);
  padding: 1rem;
  position: relative;
}

.delete_icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 1.6rem;
  color: rgb(249, 82, 82);
  cursor: pointer;
}
